/*
*   root
*/

:root {
    --mainColor: #507C5C;
    --footerBackgroundColor: #7FB57E;
    --footerFontColor: black;
    --btnColor: white;
    --font: 'Syncopate', sans-serif;
    --fontbtn: 'Snippet', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Mobile\ Homemobile_bg_index.jpg");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}


/* 
*   main
*/

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: var(--mainColor);
    line-height: 1.5em;
    font-size: 1.5rem;
    font-family: var(--font);
    margin-top: 35vh;
}

h2 {
    font-family: var(--font);
    font-weight: normal;
    color: var(--footerFontColor);
    text-align: center;
}

#startbutton {
    display: block;
    border: none;
    border-radius: 4rem;
    background-color: var(--mainColor);
    color: var(--btnColor);
    font-family: var(--fontbtn);
    font-size: 1.5rem;
    width: clamp(5em, 80%, 10em);
    height: 7.5vh;
    margin-top: 1rem;
    text-align: center;
}

#startbutton a {
    display: block;
    width: 100%;
    height: 50%;
    padding-block: 0.5em;
    line-height: 1em;
    text-decoration: none;
    color: var(--btnColor);
    font-family: var(--fontbtn);
    font-size: 1.5rem;
}

#startbutton a:hover {
    cursor: pointer;
}

.foregroundImg {
    width: 75%;
    margin: 5px auto;
}


/* 
*   footer
*/


/* 
responsive etc
*/

@media only screen and (max-width: 500px) {
    footer>* {
        display: none;
    }
}


/*
*   bg img mobile
*/

@media only screen and (min-width: 300px) {
    body::before {
        background-image: url("../img/mobile_home300_350.svg");
    }
}

@media only screen and (min-width: 350px) {
    body::before {
        background-image: url("../img/mobile_home350_400.svg");
    }
}

@media only screen and (min-width: 400px) {
    body::before {
        background-image: url("../img/mobile_home400_500.svg");
    }
}


/*
*   desktop
*   fablet(ish)
*/

@media only screen and (min-width: 500px) {
    body::before {
        background-image: url("../img/desktop_index_500_750.svg");
    }
    h1 {
        font-size: 1.75em;
        margin: 25vh 30% 0.75em 30%;
    }
    .foregroundImg {
        width: 50%;
    }
    #startbutton {
        width: clamp(5em, 35%, 10em);
    }
    /*
    *   footer
    */
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--footerBackgroundColor);
        width: 100%;
        padding-bottom: 10px;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        font-family: var(--font);
    }
    footer li a {
        text-decoration: none;
        color: var(--footerFontColor);
        padding: 10px;
    }
}


/*
*   tablet
*/

@media only screen and (min-width:620px) {
    h1 {
        margin: 25vh 35% 0.75em 35%;
    }
}

@media only screen and (min-width:700px) {
    body::before {
        background-image: url("../img/desktop_index_750_1000.svg");
    }
}

@media only screen and (min-width: 950px) {
    body::before {
        background-image: url("../img/desktop_index_1000_more.svg");
    }
    h1 {
        margin: 17.5vh 35% 0.75em 35%;
    }
}