:root {
    --widthLength: 1.6em;
    --boardSize: calc(var(--widthLength) * 10);
    --colorWhite: #FFFFFF;
    --colorGreen: #BDC730;
    --colorDarkGreen: #3F6349;
    --mainColor: #507C5C;
    --footerBackgroundColor: #7FB57E;
    --cubeColor: #86c986;
    --footerFontColor: black;
    --font: 'Syncopate', sans-serif;
    font-size: 1.5rem;
}

button {
    background-color: var(--footerBackgroundColor);
    border: none;
    border-radius: 4rem;
    padding: 0.2rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Mobile Spel.svg");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.scene {
    display: flex;
    flex-direction: column;
}

.setup {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.pions {
    display: flex;
    margin-top: 1rem;
    height: 1rem;
    width: 80%;
    justify-content: space-around;
}

#dobbel {
    position: relative;
    top: 2rem;
    align-self: center;
}

.cube {

}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, var(--widthLength));
    grid-auto-rows: var(--widthLength);
    grid-auto-flow: row dense;
    counter-reset: num;
    align-self: center;
    height: fit-content;
    width: fit-content;
}

.game-board > div:nth-child(20n + 11) {
    grid-column: 10;
}

.game-board > div:nth-child(20n + 12) {
    grid-column: 9;
}

.game-board > div:nth-child(20n + 13) {
    grid-column: 8;
}

.game-board > div:nth-child(20n + 14) {
    grid-column: 7;
}

.game-board > div:nth-child(20n + 15) {
    grid-column: 6;
}

.game-board > div:nth-child(20n + 16) {
    grid-column: 5;
}

.game-board > div:nth-child(20n + 17) {
    grid-column: 4;
}

.game-board > div:nth-child(20n + 18) {
    grid-column: 3;
}

.game-board > div:nth-child(20n + 19) {
    grid-column: 2;
}

.game-board > div:nth-child(20n + 20) {
    grid-column: 1;
}

.box {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board > div {
    border: 1px solid;
}

.box:nth-of-type(2n) {
    background-color: var(--colorWhite);
}

.box:nth-of-type(2n+1) {
    background-color: var(--colorGreen);
}

.game-board > div:before {
    content: counter(num);
    counter-increment: num;
}

.pawns {
    height: calc(var(--widthLength) / 2);
}

.pawnsmoved {
    position: absolute;
    z-index: 3;
}

.spelbordImg {
    position: absolute;
    width: var(--boardSize);
    height: var(--boardSize);
}

* {
    box-sizing: border-box;
}

.scene {
    width: 200px;
    height: 200px;
    margin: 20px;
    perspective: 600px;
}

/*bron cube: vorig project Siemen*/
.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube.show-1 {
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-2 {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-3 {
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-4 {
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-5 {
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-6 {
    transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 4px solid var(--footerFontColor);
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: var(--footerFontColor);
    text-align: center;
}

.cube__face--1 {
    background: var(--cubeColor);
    opacity: 0.91;
}

.cube__face--3 {
    background: var(--cubeColor);
    opacity: 0.91;
}

.cube__face--2 {
    background: var(--cubeColor);
    opacity: 0.91;
}

.cube__face--4 {
    background: var(--cubeColor);
    opacity: 0.91;
}

.cube__face--5 {
    background: var(--cubeColor);
    opacity: 0.91;
}

.cube__face--6 {
    background: var(--cubeColor);
    opacity: 0.91;
}


.cube__face--1 {
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--2 {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--3 {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--4 {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--5 {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--6 {
    transform: rotateX(-90deg) translateZ(100px);
}

label {
    margin-right: 10px;
}

/*footer*/

footer {
    background-color: var(--footerBackgroundColor);
    width: 100%;
    padding-bottom: 10px;
    margin-top: auto;
}

footer h2 {
    font-family: var(--font);
    font-weight: normal;
    color: var(--footerFontColor);
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    font-family: var(--font);
}
footer ul li{
    font-size: 50%;
}

footer li a {
    text-decoration: none;
    color: var(--footerFontColor);
    padding: 10px;
}

@media (min-width: 600px) {
    :root {
        --widthLength: 2.4em;
    }

    footer ul li{
        font-size: 80%;
    }
}

@media (min-width: 900px) {
    :root {
        --widthLength: 3.4em;
    }
}

@media (min-width: 1200px) {
    :root {
        --widthLength: 3em;
    }

    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
