:root {
    --widthLength: 4em;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(10,var(--widthLength));
    grid-template-rows: repeat(10,var(--widthLength));
    justify-content: center;
}
.box {
    background-color: #d9d9d9;
    border: 2px solid black;
}
